.Footer {
  background-image: url(../assets/bg.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33vh;
  .Footer-links {
    display: none;
  }
}

@media (max-width: 900px) {
  .Footer {
    font-size: 0.8rem;
    .Footer-links {
      display: block;
    }
  }
}
@media (max-width: 540px) {
  .Footer {
    font-size: 0.6rem;
  }
}
