.Footer {
  background-image: url(https://media.istockphoto.com/vectors/star-universe-background-illustration-flat-design-for-kid-vector-id941365176?k=6&m=941365176&s=612x612&w=0&h=pK2iVGl7tdSMP1I0mBkAufO4XMuGXcY41mpTD_5VqZo=);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 33vh;
}

@media (max-width: 900px) {
  .Footer {
    font-size: 0.8rem;
  }
}
