.Main {
  padding-left: 20vw;
  box-sizing: border-box;
  border-right: 2px dotted white;
  .Main-contents {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .Main {
    padding: 0;
  }
}
