.Main {
  padding-left: 20vw;
  box-sizing: border-box;
  border-right: 3px dashed var(--theme-color);
  .Main-contents {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .Main {
    padding-top: 80px;
    padding-left: 0;
    border-right: none;
  }
}
