.Navi {
  width: 20vw;
  height: 100vh;
  background-image: url(../assets//bg.jpg);
  position: fixed;
  box-sizing: border-box;
  border-left: 2px dashed white;

  display: flex;
  flex-direction: column;
  .Navi-title {
    text-align: center;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .Navi-contents {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
      list-style: decimal-leading-zero;
      li {
        color: white;
        border-bottom: 2px dashed white;
        padding-bottom: 25px;
        margin-top: 25px;
        a {
          text-decoration: none;
          font-style: italic;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .Navi {
    .Navi-title {
    }
    .Navi-contents {
      ul {
      }
    }
  }
}
@media (max-width: 900px) {
  .Navi {
    padding: 0 10px 0 10px;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: center;
    border-left: none;
    z-index: 999;
    .Navi-title {
      font-size: 1rem;
    }
    .Navi-contents {
      flex-direction: row;
      ul {
        font-size: 0.8rem;
        flex-grow: 1;
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        li {
          border-bottom: none;
          margin: 0;
          padding: 0;
        }
      }
    }
    .Navi-links {
      display: none;
    }
  }
}
@media (max-width: 540px) {
  .Navi {
    .Navi-title {
      font-size: 0.8rem;
    }
    .Navi-contents {
      ul {
        font-size: 0.6rem;
      }
    }
  }
}
