.Publishings {
  padding: 10px;
  .Publishing-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
