.RocketLine {
  display: flex;
  align-items: center;
  div {
    flex-grow: 1;
    background-color: rgb(20, 26, 60);
    height: 3px;
  }
  img {
    transform: rotate(90deg);
  }
}

@media (max-width: 900px) {
  .RocketLine {
    div {
      height: 2px;
    }
    img {
      width: 50px;
    }
  }
}

@media (max-width: 540px) {
  .RocketLine {
    div {
      height: 1px;
    }
    img {
      width: 30px;
    }
  }
}
