.RocketLine {
  display: flex;
  align-items: center;
  div {
    flex-grow: 1;
    border-bottom: 3px dashed black;
  }
  img {
    transform: rotate(90deg);
  }
}

@media (max-width: 900px) {
  .RocketLine {
    div {
      border-bottom: 2px dashed black;
    }
    img {
      width: 50px;
    }
  }
}

@media (max-width: 540px) {
  .RocketLine {
    div {
      border-bottom: 1px dashed black;
    }
    img {
      width: 30px;
    }
  }
}
