.Top {
  position: relative;
  background-image: url(https://image.freepik.com/free-vector/spaceship-interior-of-captains-bridge-in-cartoon-style_92863-143.jpg);
  background-size: cover;
  height: 500px;

  .Top-comment {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    text-align: center;
    bottom: 50%;
    h5{
      font-size: 1.5rem;
    }
    .Top-typing {
      padding-right: 5px;
      animation: typing-animation 0.5s linear infinite;
    }
  }

  .Top-img {
    position: absolute;
    width: 100px;
    border-radius: 50%;
    left: calc(50% - 50px);
    bottom: 50px;
  }
}

@keyframes typing-animation {
  from {
    border-right: 1px solid black;
  }
  to {
    border-right: 1px solid white;
  }
}

@media (max-width: 900px) {
  .Top {
    .Top-comment {
      h5{
        font-size: 1.3rem;
      }
      .Top-typing{
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 540px) {
  .Top {
    .Top-comment {
      h5{
        font-size: 1rem;
      }
      .Top-typing{
        font-size: 0.8rem;
      }
    }
  }
}
