@import "./App.scss";

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0 20px 0;
  border-bottom: 1px dashed black;
}

.Header h1 {
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  @include appear(0.5s, 0.5s);
  opacity: 0;
  transform: translateY(10px);
}

.nav {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav a:nth-child(1) {
  @include appear(0.5s, 0.5s);
}
.nav a:nth-child(2) {
  @include appear(1s, 0.5s);
}
.nav a:nth-child(3) {
  @include appear(1.5s, 0.5s);
}
.nav a:nth-child(4) {
  @include appear(2s, 0.5s);
}

.nav a {
  opacity: 0;
  transform: translateY(10px);
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.nav a:hover {
  border-bottom: 1px dashed black;
  transition-property: border-bottom;
  transition-duration: 0.5s;
}
