@import "./MainTemplate.module.scss";

.Portfolios {
  width: inherit;
  overflow-x: scroll;
  display: flex;

  & > div {
    width: 100%;
    flex-shrink: 0;
  }
  & > div:nth-child(even) {
    background-color: blue;
  }
  & > div:nth-child(odd) {
    background-color: red;
  }
}
