@import "./MainTemplate.module.scss";

.Portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-between;
  img {
    border-radius: 5px;
    height: 15vw;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
      opacity: 0.9;
    }
  }
}

.Modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .Modal_container {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    animation: appear 0.5s linear forwards;
    h2 {
      text-align: center;
    }
    section {
      display: grid;
      grid-template-columns: repeat(auto-fill, 100px);
      justify-content: space-between;
      gap: 10px;
    }
    img {
      width: inherit;
    }
    section,
    p,
    .Modal_link_container {
      padding: 10px;
    }
    .Modal_link_container {
      display: flex;
      justify-content: space-between;
      a {
        color: black;
      }
    }
  }
}

@media (max-width: 1024px) {
  .Portfolio_container {
    grid-template-columns: repeat(2, 1fr);
    img {
      height: 25vw;
    }
  }
}

@media (max-width: 680px) {
  .Modal {
    .Modal_container {
      width: 90vw;
      p {
        font-size: 0.75rem;
      }
      .Modal_link_container {
        a {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
