@import "./MainTemplate.module.scss";

.Portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-between;
  img {
    border-radius: 5px;
    height: 15vw;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
      opacity: 0.9;
    }
  }
}

@media (max-width: 1024px) {
  .Portfolio_container {
    grid-template-columns: repeat(2, 1fr);
    img {
      height: 25vw;
    }
  }
}
