body {
  margin: 0;
  padding: 0 20vw 0 20vw;

  line-height: 22px;
}

@media (max-width: 1024px) {
  body {
    padding: 0 10vw 0 10vw;
  }
}

@media (max-width: 512px) {
  body {
    padding: 0 5vw 0 5vw;
  }
}

