.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px dashed black;
}

.Header h1 {
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  animation: appear-anime 1s linear forwards;
  opacity: 0;
  transform: translateY(10px);
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav a:nth-child(1) {
  animation: appear-anime 0.5s 1s linear forwards;
}
.nav a:nth-child(2) {
  animation: appear-anime 0.5s 1.5s linear forwards;
}
.nav a:nth-child(3) {
  animation: appear-anime 0.5s 2s linear forwards;
}

.nav a {
  opacity: 0;
  transform: translateY(10px);
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid white;
}

.nav a:hover {
  animation: appear-underline 0.5s 2s linear forwards;
}

@keyframes appear-anime {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear-underline {
  to {
    border-bottom: 3px solid black;
  }
}
